.overlay { position: fixed; top: 0; right: 0; bottom: 0; left: 0; display: none; cursor: pointer; background: rgba(0, 0, 0, 0.3); z-index: 2; }

header { padding: 1.25rem; }

@media (min-width: 56.25em) { header { padding: 1.2rem 3rem; } }

header.fixed { pointer-events: none; -webkit-transition: -webkit-transform .5s; transition: -webkit-transform .5s; transition: transform .5s; transition: transform .5s, -webkit-transform .5s; z-index: 99; position: fixed; left: 0; right: 0; top: -150px; background: #fff; }

header.fixed .searchBox.active { top: 45px !important; }

@media (min-width: 56.25em) { header.fixed { top: -90px; }
  header.fixed .searchBox.active { top: 0 !important; } }

header.scrollUp { z-index: 98; pointer-events: all; -webkit-transform: translateY(100%); transform: translateY(100%); }

header .headContainer { max-width: 112rem; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (min-width: 56.25em) { header .headContainer { -ms-flex-wrap: nowrap; flex-wrap: nowrap; } }

header .headContainer .mainLogo { -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

header .headContainer .searchBoxContainer { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; min-width: 100%; margin-top: 0.9375rem; }

@media (min-width: 56.25em) { header .headContainer .searchBoxContainer { min-width: auto; margin-left: 2.5rem; margin-top: 0; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }

header .headContainer .searchBoxContainer .searchBox { position: relative; }

header .headContainer .searchBoxContainer .searchBox .searchWrapper .sidebar { display: none; }

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField { position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; width: auto; }

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .searchFieldInput { display: block; -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 100%; padding: 0.8125rem 3.375rem; padding-left: 3.6rem; margin: 0 auto; font-size: 16px; line-height: 15px; border-radius: 50em; outline: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: background 0.2s; transition: background 0.2s; border: 2px solid transparent; background-color: #eee; }

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .searchFieldInput:hover { background-color: #ddd; }

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .visualSearchIcon { position: absolute; top: 50%; right: 1rem; border: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: none; }

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .visualSearchIcon img { width: 16px; height: 16px; }

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .loupeIcon { position: absolute; top: 50%; left: 1.5rem; width: 16px; height: 16px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

header .headContainer .searchBoxContainer .searchBox .dropdown { display: none; position: absolute; left: 0; z-index: 4; width: 100%; max-height: calc(100vh - 60px); overflow-x: auto; background: #fff; min-height: 500px; }

header .headContainer .searchBoxContainer .searchBox .dropdown .dropdownInner { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 1rem; border-top: 1px solid #dfdfdf; border-bottom: 1px solid transparent; -webkit-transition: all 0.1s ease; transition: all 0.1s ease; }

header .headContainer .searchBoxContainer .searchBox.active { position: fixed; top: 0; right: 0; left: 0; z-index: 5; width: auto; background: #fff; }

header .headContainer .searchBoxContainer .searchBox.active .searchWrapper { position: relative; max-width: 112rem; height: 3.75rem; z-index: 302; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 1.25rem; margin: 0 auto; background: #fff; }

@media (min-width: 56.25em) { header .headContainer .searchBoxContainer .searchBox.active .searchWrapper { height: 5.25rem; } }

header .headContainer .searchBoxContainer .searchBox.active .searchWrapper .sidebar { position: relative; left: -0.625rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; }

header .headContainer .searchBoxContainer .searchBox.active .searchWrapper .sidebar .searchBoxClose { bottom: 0.1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 2.5rem; height: 2.5rem; border-radius: 50%; -webkit-transition: background 0.2s; transition: background 0.2s; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: none; padding: 0; border: 0; }

header .headContainer .searchBoxContainer .searchBox.active .searchWrapper .searchField .searchFieldInput { padding: 0.75rem 0; background: #fff; border-radius: 0; -webkit-transition: none; transition: none; }

header .headContainer .searchBoxContainer .searchBox.active .searchWrapper .searchField .loupeIcon { display: none; }

header .headContainer .searchBoxContainer .searchBox.active .dropdown { display: block; }

header .headContainer .searchBoxContainer .searchBox.active .dropdown .dropdownInner .searchResults { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; width: 100%; list-style: none; }

header .headContainer .searchBoxContainer .searchBox.active .dropdown .dropdownInner .searchResults .universalItem { padding: .75rem 0; margin-bottom: 0; width: 100%; display: block; }

header .headContainer .searchBoxContainer .searchBox.active .dropdown .dropdownInner .searchResults .universalItem .universalItemLink { display: block; padding-left: 0; text-decoration: none; }

header .headContainer .searchBoxContainer .searchBox.active .dropdown .dropdownInner .searchResults .universalItem .universalItemLink .universalItemText { min-height: 1.5rem; vertical-align: middle; display: inline-block; width: 85%; padding-bottom: 0; padding-left: 2.5rem; margin-bottom: 0; overflow: hidden; position: relative; }

header .headContainer .searchBoxContainer .searchBox.active .dropdown .dropdownInner .searchResults .universalItem .universalItemLink .universalItemText .svgIcon { position: absolute; top: .1rem; left: .25rem; }

header .headContainer .searchBoxContainer .searchBox.active .dropdown .dropdownInner .searchResults .universalItem .universalItemLink .universalItemText .universalItemTitle { position: relative; display: block; padding-bottom: 0; margin-bottom: 0; color: #111; word-break: break-word; }

header .headContainer .tools { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: auto; margin-right: -0.625rem; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }

@media (min-width: 56.25em) { header .headContainer .tools { margin-left: 2.5rem; } }

header .headContainer .tools li { display: -webkit-box; display: -ms-flexbox; display: flex; border-radius: 50%; margin: 0 0.2rem; line-height: 0; width: 40px; height: 40px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: all 0.2s; transition: all 0.2s; }

header .headContainer .tools li:hover { background: #eee; }

header .headContainer .tools li img { width: 17px; height: 17px; }

.menu { position: fixed; width: 100%; top: 0; bottom: 0; left: 0; right: auto; z-index: 9000; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background: #fff; overflow-y: auto; overflow-x: hidden; -webkit-transition: all 0.2s 0s; transition: all 0.2s 0s; }

@media (min-width: 56.25em) { .menu { width: 30rem; } }

.menuHidden { -webkit-transform: translateX(-470px); transform: translateX(-470px); visibility: hidden; }

.menu .menuTop { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-negative: 0; flex-shrink: 0; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: -webkit-sticky; position: sticky; padding: 0.8rem 1.25rem; }

@media (min-width: 56.25em) { .menu .menuTop { padding: 1rem 1.875rem; } }

.menu .menuTop .menuClose { width: 40px; height: 40px; border-radius: 50%; -webkit-transition: all 0.2s; transition: all 0.2s; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }

@media (min-width: 56.25em) { .menu .menuTop .menuClose { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; position: absolute; margin-right: 0; margin-left: 24px; } }

.menu .menuTop .menuClose .menuCloseBtn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; background: none; border: none; }

.menu .menuTop .menuClose .menuCloseBtn img { width: 15px; height: 15px; }

.menu .menuTop .menuClose:hover { background: #eee; }

.menu .menuTop .menuLogo { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }

@media (min-width: 56.25em) { .menu .menuTop .menuLogo { padding: 1.75rem 0 1.75rem calc(150px - 1.875rem); -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }

.menu .menuTop .menuLogo .menuLogoA { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.menu .menuTop .menuLogo .menuLogoA img { height: 30px; }

.menu .menuTop .menuBack { width: 40px; height: 40px; border-radius: 50%; -webkit-transition: all 0.2s; transition: all 0.2s; -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; visibility: hidden; display: none; }

@media (min-width: 56.25em) { .menu .menuTop .menuBack { position: absolute; top: 127px; left: 52px; } }

.menu .menuTop .menuBack .menuBackBtn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; background: none; border: none; }

.menu .menuTop .menuBack .menuBackBtn img { width: 15px; height: 15px; }

.menu .menuTop .menuBack:hover { background: #eee; }

.menu .menuContainer { padding: 1.75rem 1.25rem; }

@media (min-width: 56.25em) { .menu .menuContainer { padding: 0rem 2rem 0rem 150px; } }

.menu .menuContainer .menuNav { padding: 0.5rem 0; -webkit-transition: -webkit-transform 0.1s 0s; transition: -webkit-transform 0.1s 0s; transition: transform 0.1s 0s; transition: transform 0.1s 0s, -webkit-transform 0.1s 0s; }

@media (min-width: 56.25em) { .menu .menuContainer .menuNav { padding-top: 2rem; padding-bottom: 2rem; } }

.menu .menuContainer .menuNav .menuNavMain { font-size: 1.5rem; letter-spacing: -0.04rem; font-weight: 700; line-height: 1.333333; }

@media (min-width: 56.25em) { .menu .menuContainer .menuNav .menuNavMain { font-size: 2.25rem; } }

.menu .menuContainer .menuNav .menuNavMain a { display: block; text-decoration: none; color: #111; cursor: pointer; }

.menu .menuContainer .menuNav .menuNavMain .navMainSmall { font-size: 0.875rem; letter-spacing: 0; }

.menu .menuContainer .menuNav .menuNavMain li + li { margin-top: 1.25rem; }

.menu .menuContainer .menuNav .menuNavAux { padding-top: 2.5rem; font-size: 0.875rem; }

.menu .menuContainer .menuNav .menuNavAux a { display: block; text-decoration: none; color: #111; }

.menu .menuContainer .menuNav .menuNavAux li + li { margin-top: 1.25rem; }

.menu .menuContainer .menuSubNav { max-width: 275px; padding-top: 1rem; padding-right: 1rem; height: auto; -webkit-transform: translateX(0); transform: translateX(0); -webkit-transition: -webkit-transform 0.1s 0s; transition: -webkit-transform 0.1s 0s; transition: transform 0.1s 0s; transition: transform 0.1s 0s, -webkit-transform 0.1s 0s; }

.menuSubHidden { visibility: hidden; overflow: hidden; height: 0 !important; padding: 0 !important; -webkit-transform: translateX(-15%) !important; transform: translateX(-15%) !important; }

.menu .menuContainer .menuSubNav .menuSubHeading { font-size: 1.375rem; line-height: 1.32; letter-spacing: -0.0075rem; display: block; color: #111; font-weight: 700; }

.menu .menuContainer .menuSubNav .menuSubList { padding-top: 2rem; padding-bottom: 2rem; font-size: 0.875rem; list-style: none; }

.menu .menuContainer .menuSubNav .menuSubList li a { display: block; text-decoration: none; color: #111; padding: 0.375rem 1.25rem 0.375rem 0; }

.footer { background: #f5f5f5; padding: 3.75rem 0 0 0; }

.footer .footerContainer { max-width: 112rem; margin: 0 auto; padding: 0 1.25rem; }

.footer .footerContainer .footerContainerInner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 112rem; margin-top: 1.25rem; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner { padding: 0 3.125rem; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.footer .footerContainer .footerContainerInner .footerRow { width: 100%; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; } }

.footer .footerContainer .footerContainerInner .footerRow .featuredLink { margin-bottom: 2.5rem; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .featuredLink { -ms-flex-preferred-size: 30%; flex-basis: 30%; margin-bottom: 3.75rem; padding: 0 8% 0 0; } }

.footer .footerContainer .footerContainerInner .footerRow .featuredLink h3 { margin-bottom: 0.625rem; font-size: 1.375rem; line-height: 1.3334; letter-spacing: -0.42px; font-weight: 700; }

.footer .footerContainer .footerContainerInner .footerRow .featuredLink p { margin-bottom: 0.9375rem; }

.footer .footerContainer .footerContainerInner .footerRow .featuredLink p a { text-decoration: underline; color: inherit; }

.footer .footerContainer .footerContainerInner .footerRow .featuredLink .FamilyBtn { display: inline-block; text-decoration: none; text-align: center; padding: 0.6rem 1.25rem; border: 1px solid #111; color: #111; font-weight: 700; -webkit-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; border-radius: 6px; outline: none; }

.footer .footerContainer .footerContainerInner .footerRow .featuredLink .FamilyBtn:hover { background: #111; color: #fff; }

.footer .footerContainer .footerContainerInner .footerRow .linkGroups { margin-bottom: 2.5rem; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .linkGroups { -ms-flex-preferred-size: 70%; flex-basis: 70%; margin-bottom: 3.75rem; } }

.footer .footerContainer .footerContainerInner .footerRow .accordion { padding-left: 0; line-height: 1.71429; border-bottom: 1px solid #dfdfdf; list-style: none; width: 100%; margin: 0; padding: 0; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .accordion { border: none; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem { position: relative; border-top: 1px solid #dfdfdf; -webkit-transition: all 200ms cubic-bezier(0, 4, 0, 0, 4, 1); transition: all 200ms cubic-bezier(0, 4, 0, 0, 4, 1); margin: 0; outline: 0; padding: 0; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem { border: none; -ms-flex-preferred-size: 25%; flex-basis: 25%; padding-left: 1.25rem; margin-bottom: 0; } }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem h4 { font-size: 1.25rem; line-height: 1.2; font-weight: 700; margin-bottom: 1rem; }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem h4 .accordionBtn { display: -webkit-box; display: -ms-flexbox; display: flex; min-height: auto; padding: 1.875rem 0; border: none; text-align: left; width: 100%; background: transparent; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem h4 .accordionBtn { padding: 0 0 0.9375rem 0; } }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem h4 .accordionBtn .accoTitle { -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; margin: 0; min-height: auto; color: #111; line-height: 1.875rem; font-size: 1.25rem; font-weight: 700; }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem h4 .accordionBtn .svgIcon { display: inline-block; height: 1.5rem; width: 1.5rem; fill: #111; -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem h4 .accordionBtn .svgIcon { display: none; } }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem h4 .accordionBtn .svgIconRot { -webkit-transform: rotate(360deg); transform: rotate(360deg); -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem .accoContent { -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.4, 1); transition: all 200ms cubic-bezier(0.4, 0, 0.4, 1); height: 0; visibility: hidden; opacity: 0; overflow: hidden; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem .accoContent { visibility: visible; height: initial; overflow: visible; opacity: initial; line-height: 1.71249; padding-left: 0; } }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem .accoContent .accoContentItem { margin-bottom: 1.875rem; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem .accoContent .accoContentItem { margin-bottom: 0.625rem; } }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem .accoContent .accoContentItem:first-child { margin-top: 1.25rem; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem .accoContent .accoContentItem:first-child { margin-top: 0; } }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem .accoContent .accoContentItem a { color: #484848; text-decoration: none; }

.footer .footerContainer .footerContainerInner .footerRow .accordion .accordionItem .accoItemActive { visibility: visible; opacity: unset; height: auto; padding-top: 0; padding-bottom: 1.875rem; }

.footer .footerContainer .footerContainerInner .footerRow .accordion .itemActive { overflow: visible; }

.footer .footerContainer .footerContainerInner .footerRow .snsLinkArea { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 1.875rem; }

.footer .footerContainer .footerContainerInner .footerRow .snsLinkArea .snsLinkList { margin-bottom: -0.625rem; }

.footer .footerContainer .footerContainerInner .footerRow .snsLinkArea .snsLinkList .snsLinkItem { margin-right: 0.625rem; margin-bottom: 0.625rem; display: inline-block; }

.footer .footerContainer .footerContainerInner .footerRow .snsLinkArea .snsLinkList .snsLinkItem .snsLink { border: 0.0625rem solid #dfdfdf; padding: 0.3125rem; height: auto; text-decoration: none; border-radius: 40px; position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.4, 1); transition: all 100ms cubic-bezier(0.4, 0, 0.4, 1); cursor: pointer; }

.footer .footerContainer .footerContainerInner .footerRow .snsLinkArea .snsLinkList .snsLinkItem .snsLink:hover { border-color: #686868; }

.footer .footerContainer .footerContainerInner .footerRow .snsLinkArea .snsLinkList .snsLinkItem .snsLink .svgIcon { color: #484848; display: inline-block; height: 1.5rem; width: 1.5rem; fill: currentColor; -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); }

.footer .footerContainer .footerContainerInner .footerRow .langArea { margin-bottom: 1.875rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer .footerContainer .footerContainerInner .footerRow .langArea .countrySelector { margin: 0 0.625rem 0 0; display: inline-block; width: auto; }

.footer .footerContainer .footerContainerInner .footerRow .langArea .countrySelector .changeCountry { display: inline-block; color: #484848; padding: 0.625rem 1.25rem 0.625rem 2.5rem; border-radius: 40px; border: 1px solid #dfdfdf; font-size: 0.75rem; font-weight: 700; line-height: 1.5; white-space: nowrap; -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.4, 1); transition: all 100ms cubic-bezier(0.4, 0, 0.4, 1); vertical-align: top; text-decoration: none; position: relative; }

.footer .footerContainer .footerContainerInner .footerRow .langArea .countrySelector .changeCountry:hover { border-color: #686868; }

.footer .footerContainer .footerContainerInner .footerRow .langArea .countrySelector .changeCountry .svgIcon { display: inline-block; height: 1.5rem; width: 1.5rem; fill: currentColor; -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); position: absolute; left: 0.75rem; top: 0.4375rem; }

.footer .footerContainer .footerContainerInner .footerRow .langArea .langSelector { max-width: none; width: auto; display: inline-block; position: relative; }

.footer .footerContainer .footerContainerInner .footerRow .langArea .langSelector select { display: block; -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 100%; margin: 0; outline: 0; padding: 0.625rem 2.25rem 0.625rem 1.25rem; text-align: left; border-radius: 40px; text-indent: 0; background: #fff; border: 1px solid #dfdfdf; font-weight: 700; font-size: 0.75rem; line-height: 1.5; color: #111; -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.4, 1); transition: all 100ms cubic-bezier(0.4, 0, 0.4, 1); }

.footer .footerContainer .footerContainerInner .footerRow .langArea .langSelector select:hover { border-color: #686868; }

.footer .footerContainer .footerContainerInner .footerRow .langArea .langSelector .svgIcon { position: absolute; right: 0.9375rem; top: 0.75rem; fill: currentColor; pointer-events: none; width: 1rem; height: 1rem; display: inline-block; -webkit-transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); }

.footer .footerContainer .footerContainerInner .footerRow .copyright { font-size: 0.75rem; margin-bottom: 1.25rem; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .copyright { margin: 0; border-top: 0.0625rem solid #dfdfdf; } }

.footer .footerContainer .footerContainerInner .footerRow .copyright p { margin-bottom: 0.5rem; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .copyright p { margin: 1.875rem 0 1.875rem 0; } }

.footer .footerContainer .footerContainerInner .footerRow .legalLinks { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; font-size: 0.75rem; margin-bottom: 1.25rem; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .legalLinks { margin: 0; border-top: 0.0625rem solid #dfdfdf; text-align: right; } }

.footer .footerContainer .footerContainerInner .footerRow .legalLinks ul { list-style: none; margin-left: 0; padding-left: 0; }

@media (min-width: 56.25em) { .footer .footerContainer .footerContainerInner .footerRow .legalLinks ul { margin-top: 1.875rem; } }

.footer .footerContainer .footerContainerInner .footerRow .legalLinks ul li { display: inline-block; margin: 0 1.25rem 0 0; }

.footer .footerContainer .footerContainerInner .footerRow .legalLinks ul li a { text-decoration: none; color: #111; }

.footer .footerContainer .footerContainerInner .footerRow .legalInformation { font-size: 0.75rem; margin-bottom: 2.5rem; }

.footer .footerContainer .footerContainerInner .footerRow .legalInformation p { margin-bottom: 0.5rem; }

.footer .footerContainer .footerContainerInner .footerRow .legalInformation p a { text-decoration: underline; color: #484848; }
