.arrow_box {
	position: relative;
	background: #e0e0e0;
	border: 3px solid #525252;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(224, 224, 224, 0);
	border-top-color: #e0e0e0;
	border-width: 20px;
	margin-left: -20px;
}
.arrow_box:before {
	border-color: rgba(82, 82, 82, 0);
	border-top-color: #525252;
	border-width: 24px;
	margin-left: -24px;
}