.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

header {
  padding: 1.2rem 3rem;
}

header .headContainer {
  max-width: 112rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headContainer .mainLogo {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

header .headContainer .searchBoxContainer {
  min-width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 2.5rem;
}

header .headContainer .searchBoxContainer .searchBox {
  position: relative;
}

header .headContainer .searchBoxContainer .searchBox .searchWrapper .sideBar {
  display: none;
}

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: auto;
}

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .searchFieldInput {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  padding: 0.8125rem 3.375rem;
  padding-left: 3.6rem;
  margin: 0 auto;
  font-size: 16px;
  line-height: 15px;
  border-radius: 50em;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  border: 2px solid transparent;
  background-color: #eee;
}

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .searchFieldInput:hover {
  background-color: #ddd;
}

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .visualSearchIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  border: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: none;
}

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .visualSearchIcon img {
  width: 16px;
  height: 16px;
}

header .headContainer .searchBoxContainer .searchBox .searchWrapper .searchField .loupeIcon {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .headContainer .searchBoxContainer .searchBox .dropdown {
  display: none;
  min-height: auto;
  border-radius: 0 0 0.5rem 0.5rem;
  left: -0.5rem;
  width: calc(100% + 1rem);
  padding: 1rem 0;
  position: absolute;
  height: 300px;
  background: #fff;
}

header .headContainer .searchBoxContainer .searchBox .searchBoxFx::before {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  display: block;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  content: "";
  background: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .headContainer .tools {
  margin-left: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .headContainer .tools li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  margin: 0 0.2rem;
  line-height: 0;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .headContainer .tools li:hover {
  background: #eee;
}

header .headContainer .tools li img {
  width: 17px;
  height: 17px;
}

.menu {
  position: fixed;
  width: 30rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  z-index: 9000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.2s 0s;
  transition: all 0.2s 0s;
}

.menuHidden {
  -webkit-transform: translateX(-470px);
          transform: translateX(-470px);
  visibility: hidden;
}

.menu .menuTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 1rem 1.875rem;
}

.menu .menuTop .menuClose {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu .menuTop .menuClose .menuCloseBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

.menu .menuTop .menuClose .menuCloseBtn img {
  width: 15px;
  height: 15px;
}

.menu .menuTop .menuClose:hover {
  background: #eee;
}

.menu .menuTop .menuLogo .menuLogoA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menuTop .menuLogo .menuLogoA img {
  height: 30px;
}

.menu .menuContainer {
  padding: 0 2rem 0 150px;
}

.menu .menuContainer .menuNav {
  padding: 2rem 0;
}

.menu .menuContainer .menuNav .menuNavMain {
  font-size: 2.25rem;
  letter-spacing: -0.04rem;
  font-weight: 700;
  line-height: 1.333333;
}

.menu .menuContainer .menuNav .menuNavMain a {
  display: block;
  text-decoration: none;
  color: #111;
}

.menu .menuContainer .menuNav .menuNavMain .navMainSmall {
  font-size: 0.875rem;
  letter-spacing: 0;
}

.menu .menuContainer .menuNav .menuNavMain li + li {
  margin-top: 1.25rem;
}

.menu .menuContainer .menuNav .menuNavAux {
  padding-top: 2.5rem;
  font-size: 0.875rem;
}

.menu .menuContainer .menuNav .menuNavAux a {
  display: block;
  text-decoration: none;
  color: #111;
}

.menu .menuContainer .menuNav .menuNavAux li + li {
  margin-top: 1.25rem;
}

.pageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3.125rem;
  max-width: 112rem;
}

.pageContainer .mains {
  margin-bottom: 3.75rem;
  width: 100%;
}

.pageContainer .mains .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
}

.pageContainer .mains .event .eventImg {
  width: 66%;
}

.pageContainer .mains .event .eventImg a img {
  width: 100%;
  height: 100%;
}

.pageContainer .mains .event .eventSum {
  width: 33%;
  background: #dca940;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
/*# sourceMappingURL=main.css.map */